@model chuyenNganh.websiteBanGiay.Data.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="container mt-4">
    <h1 class="text-center">Chi tiết sản phẩm</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Thông tin sản phẩm</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Tên sản phẩm</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt class="col-sm-3">Giá</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price) VND
                </dd>

                <dt class="col-sm-3">Mô tả</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3">Giảm giá (%)</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Discount) %
                </dd>

                <dt class="col-sm-3">Ngày tạo</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt class="col-sm-3">Ảnh sản phẩm</dt>
                <dd class="col-sm-9">
                    <img src="@Model.ImageUrl" alt="Ảnh sản phẩm" style="width: 200px; height: auto;">
                </dd>

                <dt class="col-sm-3">Danh mục</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-primary">
            <i class="fas fa-edit"></i> Chỉnh sửa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Quay lại danh sách
        </a>
    </div>
</div>

<!-- Font Awesome để hiển thị icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
