@model chuyenNganh.websiteBanGiay.Data.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chi Tiết Đánh Giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Chi Tiết Đánh Giá</h1>
    <hr />

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <dl class="row">
                <!-- Đánh giá -->
                <dt class="col-sm-4 fw-bold">Số Sao:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Rating)</dd>

                <!-- Bình luận -->
                <dt class="col-sm-4 fw-bold">Bình Luận:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Comment)</dd>

                <!-- Ngày đánh giá -->
                <dt class="col-sm-4 fw-bold">Ngày Đánh Giá:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ReviewDate)</dd>


                <!-- Sản phẩm -->
                <dt class="col-sm-4 fw-bold">Sản Phẩm:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Product.ProductName)</dd>

                <!-- Người dùng -->
                <dt class="col-sm-4 fw-bold">Người Dùng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.User.UserName)</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-area="admin" asp-action="DeleteReview" asp-route-id="@Model?.ReviewId" class="btn btn-warning">Xóa bình luận</a>
        <a asp-action="Review" class="btn btn-secondary">Quay Lại Danh Sách</a>
    </div>
</div>
