@model chuyenNganh.websiteBanGiay.ViewModels.PaginatedList<chuyenNganh.websiteBanGiay.ViewModels.ProductVM>


@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_LayoutShop";
}



<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"> <center> <span class="bg-secondary pr-3"> SẢN PHẨM NỔI BẬT</span></h2> </center>
    <div class="row px-xl-5 d-flex flex-row flex-wrap justify-content-start">
        @foreach (var item in Model.Take(8)) 
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                            <img class="img-fluid w-100" src="@Url.Content("~/img/products/" + item.ImageUrl + ".jpg")" alt="@item.ProductName">
                        </a>
                        <div class="product-action">
                            <a title="Thêm vào giỏ hàng" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></a>
                            <a title="Thêm vào danh sách yêu thích" class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a title="Click để xem chi tiết sản phẩm" class="h6 text-decoration-none" style="display: block;" href="@Url.Action("Details", "Products", new { id = item.ProductId })">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.Price.ToString("N0") VNĐ</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(@item.Rating ?? 0)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
    <!-- Phân Trang -->
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                <!-- Nút Previous -->
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1, Category = ViewBag.CurrentCategory })">Back</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">Back</span>
                    </li>
                }

                <!-- Số Trang -->
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, Category = ViewBag.CurrentCategory })">@i</a>
                        </li>
                    }
                }

                <!-- Nút Next -->
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1, Category = ViewBag.CurrentCategory })">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                }
            </ul>
        </nav>
    </div>

</div>
<!-- Products End -->
